---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>

  <div class="wordwrap" style="margin-top: 0.6em;">
    My undergraduate thesis, supervised by Professor <a href="https://scaucao.github.io">Sergio Caucao</a>, is available <a href="https://repositorio.udec.cl/items/bc57f140-1aec-435e-b914-1752e345c409">here</a>.
    <div style="margin-top: 0.35em;">
      <span style="color: var(--global-text-color-light);">
        Recommended citation:
      </span>
      <span>
        Alonso J. Bustos. <i>A Banach space mixed formulation for the unsteady Brinkman problem with spatially varying porosity</i>. Undergraduate thesis, Universidad de Concepción, 2025.
      </span>
    </div>
  </div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



