{% include base_path %}

{%- if post.id -%}
  {%- assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" -%}
{%- else -%}
  {%- assign title = post.title -%}
{%- endif -%}

<div class="talk-item">
  <div class="talk-title">
    <span class="talk-title-text">
      {%- assign primary_url = post.slidesurl | default: post.video_url | default: post.link -%}
      {% if primary_url %}
        <a href="{{ primary_url }}">{{ title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </span>

    {% if post.date %}
      <span class="talk-year">{{ post.date | date: "%Y" }}</span>
    {% endif %}
  </div>

  {% if post.venue %}
    <div class="talk-venue">
      {% if post.type %}{{ post.type }}, {% endif %}<i>{{ post.venue }}</i>{% if post.location %} — {{ post.location }}{% endif %}
    </div>
  {% endif %}

  {% if post.slidesurl %}
    <a class="talk-button" href="{{ post.slidesurl }}">Slides</a>
  {% elsif post.video_url %}
    <a class="talk-button" href="{{ post.video_url }}">Video</a>
  {% elsif post.link %}
    <a class="talk-button" href="{{ post.link }}">Link</a>
  {% endif %}
</div>
