/* Justify written content on desktop */
@media (min-width: 768px) {
  .page__content p,
  .page__content li,
  .page__content blockquote,
  .page__content dd,
  .page__content dt {
    text-align: justify !important;
    hyphens: auto;
  }
}

.archive__item-excerpt {
  font-size: 0.85em !important;
}
