/* Smaller font for Publications and Talks entries */
.page__content .archive__item {
  font-size: 0.5em;
}

/* Justify main content text */
@media (min-width: 768px) {
  .page__content p {
    text-align: justify;
    hyphens: auto;
  }
}
