/* Smaller font ONLY on the index pages */
.publications-index .archive__item,
.talks-index .archive__item {
  font-size: 0.5em;
}

@media (min-width: 768px) {
  .page__content p,
  .page__content li,
  .page__content blockquote,
  .page__content dd,
  .page__content dt {
    text-align: justify !important;
    hyphens: auto;
  }
}
